extends layout

block content

	if message
		p #{message}

	#main.pure-g-r
		.pure-u-1-2.pull-center
			h1.sans
				a(href="")= title
			#infoBox
			p#about= 'Hi ' + user.username + '!'
			small [Allow for data export here]
		.pure-u-1-2
			h3.pull-center.sans Edit your track
			form(action="/account", method="post")
				.pure-g-r
					.pure-u-1-2
						#username
							input(type="text", name="username", placeholder="Username", value="#{ user.username }")
					.pure-u-1-2
						#email
							input(type="text", name="email", placeholder="Email", value="#{ user.email ? user.email : '' }")
				.pure-g-r
					.pure-u-1-2
						#birthdate
							if user.birthdate
								- var day   = user.birthdate.getDate();
								- var month = user.birthdate.getMonth() + 1;
								if (month < 10)
									- month = '0'+month;
								- var year  = user.birthdate.getFullYear();
							input(type="text", name="birthdate", placeholder="Birthdate (MM/DD/YYYY)", value="#{ user.birthdate ? (month + "/" + day + "/" + year) : '' }")
					.pure-u-1-2
						#gender
							input(type="text", name="gender", placeholder="Gender (male/female/other)", value="#{ user.gender ? user.gender : '' }")
				.pure-g-r
					.pure-u-1-2
						#location
							input(type="text", name="location", placeholder="Location (ex: Chicago, IL)", value="#{ user.location ? user.location : '' }")
					.pure-u-1-2
						#occupation
							input(type="text", name="occupation", placeholder="Occupation", value="#{ user.occupation ? user.occupation : '' }")
				.pure-g-r
					.pure-u-1-4
					.pure-u-1-2
						#submit
							input(type="submit", value="Update")