extends layout

block content

	if message
		p.pull-center.message #{message}
	if error
		p.pull-center.error #{error}
	- var day   = datum.date.getDate();
	- var month = datum.date.getMonth() + 1;
	if (month < 10)
		- month = '0'+month;
	- var year  = datum.date.getFullYear();
	#main.pure-g-r
		.pure-u-1-2.pull-center
			h1.thin <a href="/category/#{datum.category._id}">#{title}</a> on #{month}/#{day}/#{year}
		.pure-u-1-4
			form(action="/datum/#{datum._id}", method="post")
				.pure-u-3-4
					#category
						input(type="text", data-provide="typeahead", name="category", placeholder="Name/Category", data-source='[#{ categories }]', value="#{ datum.category.name }")
				.pure-u-1-4
					input(type="float", name="quantity", placeholder="Quantity", value="#{ datum.quantity }")
				input(type="hidden", name="account", value=user._id)
				#submit
				input(type="submit", value="Update")
	.second-main.pure-g-r
		.pure-u-1-3
		.pure-u-1-3.pull-center
			a(href="#{datum._id}/remove", class="btn error") Remove this datum
		script(src='/javascripts/add-datum.js')