extends layout

block content

	if message
		p#message.pull-center.message #{message}
	if error
		p#error.pull-center.error #{error}

	.main.pure-g-r.container
		if (!user)
			.pure-u-1-4
			.pure-u-1-2.pull-center
				h1.thin
					a(href="/")= title
				#infoBox
				p#about
				p.lead.sans <a class="btn message-home md-trigger" data-modal="modal-register">Start</a> seeing yourself, graphed.
				p.otherly Track your progress on <strong>anything</strong> you can quantify.

		if user
			.pure-u-1-12
			.pure-u-1-3.pull-center
				form(action="/add-datum", method="post")
					- var d = new Date, day = d.getDate(), month = d.getMonth()+1, year = d.getFullYear();
					if (month < 10)
						- month = '0'+month;
					if (day < 10)
						- day = '0'+day;
					.pure-u-3-4
						input(type="text", data-provide="typeahead", name="category", placeholder="Name/Category", data-source='[#{ categories }]')
					.pure-u-1-4
						input.numeric(type="float", name="quantity", placeholder="Quantity")
					#past-date.hidden
						input(type="date", name="date", value="#{year+'-'+month+'-'+day}", placeholder="YYYY-MM-DD")
					input(type="hidden", name="account", value=user._id)
					#submit
						input(type="submit", value="Add Data")
					.pure-u-1.pull-left
						a.btn(onClick="addPastData()") Add past data
			.pure-u-1-12
			.pure-u-1-2.pull-center
					if user.username
						h2.thin.no-mobile #{ user.username }
					if (!user.username)
						h2.thin.no-mobile
							a(href="/") Hi!
					if user.birthdate
						p You are <a href="/account" id="age">many, many</a> years old.
					if (!user.birthdate)
						p.lead.intro You should take a moment and <a href="/account" class="">augment your account</a>.
						p It will make everything easier down the road.
					a.btn.md-trigger(data-modal="modal-intro") How to enter data
			if (foundCats.length > 0)
				.main.pure-g-r
					.pure-u-1-3
					.pure-u-1-3.pull-center
						h2.thin You are tracking
					.pure-u-1-3
					for cat in foundCats.sort(function(a,b){if(a.name < b.name) return -1; if(a.name > b.name) return 1; return 0;})
						- var color = 'eee', color2 = '222';
						if (cat._id)
							- color = cat._id.toString().slice(0,6), color2 = '000';
						.pure-u-1-5.pull-center
							a(href="/category/#{cat._id}", style="background:##{color};color:##{color2}").btn #{cat.name}
			if (foundCats.length < 1)
				.main.pure-g-r
					.pure-u-1-3
					.pure-u-1-3.pull-center
						h2.thin Suggestions to track
						p A category describes a daily activity or aspect of you or your life.
					.pure-u-1-3
					.pure-u-1-5
					.pure-u-1-5.pull-center
						a(onClick='preloadDatum("Sleep (hrs)", "sleep")').btn.sleep Sleep (hrs)
					.pure-u-1-5.pull-center
						a(onClick='preloadDatum("Bodyweight (lbs)", "bodyweight")').btn.bodyweight Bodyweight (lbs)
					.pure-u-1-5.pull-center
						a(onClick='preloadDatum("Mood (max 10)", "mood")').btn.mood Mood (max 10)

			script(src="/javascripts/jquery.js")
			script(src='/javascripts/numeric.js')
			script(src='/javascripts/add-datum.js')
			script(src='/javascripts/index.js')

		if (!user)
			script(src="/javascripts/d3.v3.min.js")
			#graph(style="height:200px;").pull-center
				- var sum = 0;
				- for d in graphable
					- sum += d;
				- sum = (sum/graphable.length);
				- var data = [], dumb = [];
				- for d in graphable
					- data.push(d);dumb.push(sum);
				- var max_of_array = Math.max.apply(Math, data), min_of_array = Math.min.apply(Math, data);
			script
				var div = document.getElementById("graph");
				var graph = d3.select("#graph").append("svg:svg").attr("width", "100%").attr("height", "100%");

				var data = [#{data}], dumb = [#{dumb}];console.log('sum = '+#{sum}+', '+#{sum});
										console.log('max = '+#{max_of_array}+', min = '+#{min_of_array}+', and length = '+data.length)

				var x = d3.scale.linear().domain([0, data.length]).range([0, (div.offsetWidth+200)]);
				var y = d3.scale.linear().domain([(#{max_of_array}+1), (#{min_of_array}-2)]).range([0, 200]);

				var line = d3.svg.line()
				.x(function(d,i) {
				return x(i);
				})
				.y(function(d) {
				return y(d);
				}).interpolate("monotone");

				graph.append("svg:path")
				.attr("id", "myOtherPath")
				.attr("stroke", "lightgrey")
				.attr("stroke-width", 1)
				.attr("fill", "none")
				.attr("d", line(dumb))
				.attr("id", "myOtherPath");
				graph.append("svg:path")
				.attr("id", "myPath")
				.attr("stroke", "#384682")
				.attr("stroke-width", 1)
				.attr("fill", "none")
				.attr("d", line(dumb))
				.attr("id", "myPath")
				.transition().duration(1000).delay(200).attr("d", line(data))
				.ease('bounce');
				graph.on('mouseover', function() {
					var x = document.getElementsByClassName('otherly');
					for (var i=0;i<x.length;i++){
						x[i].className = ' otherly other';
					};
				}).on('mouseout', function() {
					var x = document.getElementsByClassName('otherly');
					for (var i=0;i<x.length;i++){
						x[i].className = ' otherly immune';
					};
				});
				function notYetRegistered(){
					var x = document.getElementById('registration'), 
						y = document.getElementById('login'),
						z = document.getElementById('create-account');
					x.className = '';y.className = 'hidden';z.className = 'hidden';
				}

	.md-modal.md-effect#modal-register
		.md-content
			.pull-right
				.btn.md-close X
			h2.pull-center.thin Welcome!
			form(action="/login", method="post")#login
				.pure-g-r
					.pure-u-1-4#username
						input(type="email", name="username", placeholder="Email", autofocus="autofocus")
					.pure-u-1-4#password
						input(type="password", name="password", placeholder="Password")
					.pure-g-r
						.pure-u-1-2#submit
							input(type="submit", value="Log In")
			form(action="/register",method="post")#registration.hidden
				#username
					input(type="email", name="email", placeholder="Email", autofocus="autofocus")
				#password
					input(type="password", name="password", placeholder="Password")
					input(type="password", name="password_conf", placeholder="Confirm password")
				#submit
					input(type="submit", value="Register")
			.pull-right
				a#create-account.btn.message(onClick="notYetRegistered()") Create an account

	.md-modal.md-effect#modal-intro
		.md-content
			h2.pull-center Entering data
			p.lead Track any category you can put into a daily number.
			p You can track your amount of <strong>Sleep (hrs)</strong> each day or your <strong>Mood (max 10)</strong> every night or your <strong>Bodyweight (lbs)</strong> every morning.
			p Any category can be created and tracked, but please try to:
			ul
				li Add a unit of measurement in parentheses to the category name, e.g. <strong>Music Listening (hrs)</strong>.
				li Track one entry per day for each Category. (Edit or add to previous data by viewing the category.)
				li Use relevant categories where applicable.
			p.lead You can view your track on any category at any time, and compare your numbers to your demographical averages.
			.pull-right
				a.btn.md-close Got it!
	.md-overlay
