extends layout

block content

	if message
		p.pull-center.message #{message}
	if error
		p.pull-center.error #{error}

	.main.pure-g-r.container
		if (!user)
			.pure-u-1-2.pull-center
				h1.thin
					a(href="/")= title
				#infoBox
				p#about
				form(action="/login", method="post")
					.pure-g-r
						.pure-u-1-4#username
							input(type="email", name="username", placeholder="Email", autofocus="autofocus")
						.pure-u-1-4#password
							input(type="password", name="password", placeholder="Password")
						.pure-g-r
							.pure-u-1-2#submit
								input(type="submit", value="Log In")
			.pure-u-1-2.pull-center
				p.lead.sans <a class="btn message-home md-trigger" data-modal="modal">Start</a> seeing yourself, graphed.
				p Track your progress on <strong>anything</strong> you can quantify.

		if user
			.pure-u-1-2.pull-center
					if user.username
						h2.thin.no-mobile #{ user.username }, #{title}
					if (!user.username)
						h2.thin.no-mobile
							a(href="/") You, #{title}
					if user.birthdate
						p
							| You are <a href="/account" id="age">many, many</a> years old.
					if (!user.birthdate)
						p.lead.intro
							| You should take a moment and <a href="/account" class="">augment your account</a>.
						p It will make everything easier down the road.

			.pure-u-1-3.pull-center
				form(action="/add-datum", method="post")
					.pure-u-3-4
						input(type="text", data-provide="typeahead", name="category", placeholder="Name/Category", data-source='[#{ categories }]')
					.pure-u-1-4
						input(type="float", name="quantity", placeholder="Quantity")
					input(type="hidden", name="account", value=user._id)
					#submit
						input(type="submit", value="Add Data")
			.main.pure-g-r
				.pure-u-1-3
				.pure-u-1-3.pull-center
					h2.thin You are tracking
				.pure-u-1-3
				for cat in foundCats
					.pure-u-1-5.pull-center
						a(href="/category/#{cat._id}").btn #{cat.name}

			script(src='/javascripts/add-datum.js')
			script(src='/javascripts/index.js')

	if (!user)
		script(src="http://d3js.org/d3.v3.min.js")
		#graph(style="height:200px;").pull-center
			- var sum = 0;
			- for d in graphable
				- sum += d;
			- sum = (sum/graphable.length);
			- var data = [], dumb = [];
			- for d in graphable
				- data.push(d);dumb.push(sum);
			- var max_of_array = Math.max.apply(Math, data), min_of_array = Math.min.apply(Math, data);
		script
			var div = document.getElementById("graph");
			var graph = d3.select("#graph").append("svg:svg").attr("width", "100%").attr("height", "100%");

			var data = [#{data}], dumb = [#{dumb}];console.log('sum = '+#{sum}+', '+#{sum});
									console.log('max = '+#{max_of_array}+', min = '+#{min_of_array}+', and length = '+data.length)

			var x = d3.scale.linear().domain([0, data.length]).range([0, (div.offsetWidth+200)]);
			var y = d3.scale.linear().domain([(#{max_of_array}+1), (#{min_of_array}-2)]).range([0, 200]);

			var line = d3.svg.line()
			.x(function(d,i) {
			return x(i);
			})
			.y(function(d) {
			return y(d);
			}).interpolate("monotone")

			graph.append("svg:path")
			.attr("id", "myOtherPath")
			.attr("stroke", "lightgrey")
			.attr("stroke-width", 1)
			.attr("fill", "none")
			.attr("d", line(dumb))
			.attr("id", "myOtherPath");
			graph.append("svg:path")
			.attr("id", "myPath")
			.attr("stroke", "#384682")
			.attr("stroke-width", 1)
			.attr("fill", "none")
			.attr("d", line(dumb))
			.attr("id", "myPath")
			.transition().duration(1000).delay(200).attr("d", line(data))
			.ease('bounce');

	.md-modal.md-effect#modal
		.md-content
			h2.pull-center.thin Welcome!
			form(action="/register",method="post")
				#username
					input(type="email", name="email", placeholder="Email", autofocus="autofocus")
				#password
					input(type="password", name="password", placeholder="Password")
					input(type="password", name="password_conf", placeholder="Confirm password")
				#submit
					input(type="submit", value="Register")
			.pull-center
				a.btn.md-close or wait
	.md-overlay
