doctype 5
html
  head
    title= title
    <meta name="description" content="Start seeing yourself, graphed. Track yourself alongside your demographics." />
    <meta property="og:title" content="OnTrack.io"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://ontrack.io/apple-touch-icon-114x114.png"/>
    <meta property="og:url" content="http://ontrack.io"/>
    <meta property="og:description" content="Start seeing yourself, graphed. Track yourself alongside your demographics."/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@ontrackio" />
    <meta name="twitter:site" content="@ontrackio" />
    <meta name="twitter:url" content="http://ontrack.io" />
    <meta name="twitter:title" content="OnTrack.io" />
    <meta name="twitter:description" content="Start seeing yourself, graphed. Track yourself alongside your demographics." />
    <meta name="twitter:image" content="http://ontrack.io/apple-touch-icon-114x114.png" />
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="http://ontrack.io/apple-touch-icon-114x114.png"/>
    <meta name="viewport" content="width=device-width" />
    link(rel='stylesheet', href='/stylesheets/style.css')
    | <!--[if IE]--><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><!--[endif]-->
    | <link rel="apple-touch-icon" href="/apple-touch-icon.png" /><link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" /><link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" /><link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    if user
      meta(name="uid", content="#{user._id}")
  body
    .pure-g-r
      .pure-u-1-3
      .pure-u-1-3
        .pure-menu.pure-menu-open.pure-menu-horizontal.pull-center
          ul.otherly
            if user
              li
                a(href="/account")= "Your Track"
            if (!user)
              li
                a(href="/login") Log In
            li
              a(href="/")= "Home"
            if user
              li
                a(href="/logout")= "Log Out"
            if (!user)
              li
                a(href="/about")= "About"

    block content

    footer.footer.pull-center
      if (user && user.admin)
        small Get <a href="/off-track">off track </a> |
      small.otherly
        |  from <a href="http://bckmn.com" target="_blank">jbckmn</a> | get in <a href="/contact">contact</a>

    script(src='/javascripts/misc.js')
    script(src='/socket.io/socket.io.js')